.bracket{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.round{
  flex-direction: column;
  justify-content: space-between;
}

.entry{
  background-color:#13b6ec;
  font-size: 30px;
  padding: 20px;
  margin: 5px;
  display: flex;
}

.matchup{
  margin: 40px;
}

.buffer{
  height: 150px;
  width: 20px;
}

.buffer3{
  height: 525px;
  width: 20px;
}
