@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Home page CSS */
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 1000px;
    background-color: rgb(46, 45, 45);
}

.container h1{
    text-align: center;
    color: white;
    font-family: Inter;
    font-size: 50px;
}

.siteDescription{
    text-align: justify;
    color: white;
    font-family: Inter;
    width: 30%;
    margin: 20px;
    padding: 10px;
}

.defaultButton{
    padding: 5px;
    margin: 7px;
    width: 5%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
}

.findButton{
    padding: 5px;
    margin: 7px;
    width: 50%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
}

.findTournament{
    display: flex;
    margin: 20px;
}

.container div input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    color: black;
    font-family: Inter;
}

/* header CSS */
.header{
    background-color: rgb(0, 121, 202);
    color: white;
    height: 100px;
    font-size: 20px;
    font-family: Inter;
    display: flex;
}

.headerLinks{
    display: flex;
    align-content: center;
    text-align: center;
    margin: 20px;
}
.headerLinks a{
    display: box;
    margin: 15px;
    color: white;
}

/* login CSS */
.loginWrapper{  
    text-align: center;
    color: white;
    height: 1000px;
    background-color: rgb(46, 45, 45);
}

.loginForm input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 20%;
    color: black;
    font-family: Inter;
}

.loginForm button{
    padding: 5px;
    margin: 7px;
    width: 5%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 5px;
    font-family: Inter;
}