@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/*////////////////////////////////////////////////////////////////////////////////////*/
/* Home page CSS */
.container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(46, 45, 45);
    background-size: auto;
}

.container h1{
    text-align: center;
    color: white;
    font-family: Inter;
    font-size: 50px;
}

.container .defaultButton{
    padding: 5px;
    margin: 12px;
    margin-top: 15px;
    width: 7%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
}

.container .descriptionText{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: white;
    font-family: Inter;
    width: 30%;
    margin: 20px;
    padding: 10px;
}
.container .descriptionText p{
    text-align: justify;
}

.defaultButton{
    padding: 5px;
    margin: 7px;
    width: 5%;
    height: 35px;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
    cursor: pointer;
}

.findButton{
    padding: 0px;
    margin: 7px;
    width: 70%;
    height: 70%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
    font-size: 100%;
}

.findTournament{
    display: flex;
    align-items: center;
    margin: 20px;
}

.container div input{
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    width: 100%;
    color: black;
    font-family: Inter;
}

.loginHome{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
/*////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/* header CSS */
.header{
    background-color: rgb(0, 121, 202);
    color: white;
    height: 100px;
    font-size: 20px;
    font-family: Inter;
    display: flex;
}

.headerLinks{
    display: flex;
    align-content: center;
    text-align: center;
    margin: 20px;
}
.headerLinks a{
    display: box;
    margin: 15px;
    color: white;
}
/*////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/* footer CSS */
.footer{
    margin-top: 0px;
    padding: 10px;
    background-color: rgb(0, 121, 202);
    position: relative;
    height: 50px;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
/*////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/* login CSS */
.loginWrapper{  
    display: flex;
    flex-direction: column;
   
    align-items: center;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgb(46, 45, 45);

}

.loginWrapper h1{
    padding: 20px;
    margin: 0px;
    font-family: Inter;
}

.loginForm input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 20%;
    color: black;
    font-family: Inter;
}

.loginWrapper button{
    padding: 5px;
    margin: 7px;
    width: 50%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 5px;
    font-family: Inter;
    cursor: pointer;
}

.loginWrapper p{
    margin: 5px;
}
.loginWrapper p2{
    text-align: justify;
    align-content: center;
    align-items: center;
    color: white;
    font-family: Inter;
    width: 30%;
    margin: 20px;
    padding: 10px;

}
/*////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/* About page CSS*/
.aboutWrapper{  
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(46, 45, 45);

}
.aboutWrapper p{
    margin: 5px;
}

/* Change the h1 margin and padding, the default setting made the white space */
.aboutWrapper h1{
    padding: 20px;
    margin: 0px;
    font-family: Inter;
}

.aboutDescription{
   
    text-align: center;
    color: white;
    font-family: Inter;
    width: 30%;
    margin: 20px;
    padding: 10px;
}


/*////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/*Login page*/
.loginWrapper{  
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgb(46, 45, 45);

}
.loginWrapper p{
    margin: 5px;
}

.loginWrapper h1{
    padding: 20px;
    margin: 0px;
    font-family: Inter;
}

.formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.formContainer input{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    color: black;
    font-family: Inter;
}

/*////////////////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////////////////*/
/*Registration page*/
.registrationWrapper{  
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgb(46, 45, 45);

}
.registrationWrapper p{
    margin: 5px;
}

.registrationWrapper h1{
    padding: 20px;
    margin: 0px;
    font-family: Inter;
}

/*////////////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////////////*/
/*input Tournament page */

.inputTournament{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;   
    background-color: rgb(46, 45, 45);

}

.inputTournament button{

    width: 5%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 5px;
    font-family: Inter;
    cursor: pointer;

}

.inputTournament input{

    border-radius: 10px;
    width: 20%;
    color: black;
    font-family: Inter;
    
    place-items: center;


}

.inputTournament p{
    text-align: justify;
    align-content: center;
    align-items: center;
    color: white;
    font-family: Inter;
    width: 30%;
    margin: 20px;
    padding: 10px;

}

/*////////////////////////////////////////////////////////////////////////////////////*/


/*////////////////////////////////////////////////////////////////////////////////////*/
/*TOS page CSS*/

.tosWrapper{  
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(46, 45, 45);

}
.tosWrapper p{
    margin: 5px;
}

/* Change the h1 margin and padding, the default setting made the white space */
.tosWrapper h1{
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-family: Inter;
}

.tosDescription{
   
    text-align: center;
    color: white;
    font-family: Inter;
    width: 30%;
    margin: 20px;
    padding: 10px;
}
/*////////////////////////////////////////////////////////////////////////////////////*/



/*////////////////////////////////////////////////////////////////////////////////////*/
/* Player page CSS*/
.playerWrapper{  
    text-align: center;
    color: white;
    height: 1000px;
    width: 100%;
    background-color: rgb(46, 45, 45);

}
.playerWrapper h1{
    padding: 20px;
    margin: 0px;
    font-family: Inter;
}

/*Below the Player page title*/
.playerForm_Container{
    border:  solid;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
}

/* Change the h1 margin and padding, the default setting made the white space */

.playerWrapper h2{
    padding: 20px;
    margin: 0px;
    text-align: left;
    font-family: Inter;
    text-decoration: underline;
   
}


/*Wins /Loses /tournamnet wins*/
.playerStats_Left{
    float: left;
    padding: 20px;
}
.playerTournamentsNums_Center{
    float: left;
    height: 150;
    right: 300px;
}

.playerEditArea_Right{
    float: none;
    text-align: right;
}

.playerInputButton_Container{
    overflow: hidden;
    text-align: right;
}

/*Player Input Boxes*/
/*PlayerButtons*/
.playerclaim_Button{
    display: block;
    display: inline-block;
    padding: 5px;
    margin: 12px;
    margin-top: 15px;
   
    color: white;
    background-color: rgb(0, 121, 202);
  
    border-radius: 7px;
    font-family: Inter;
}
.playerChangeName_Button{
    display: block;
    display: inline-block;
    padding: 5px;
    margin: 12px;
    margin-top: 15px;
   
    color: white;
    background-color: rgb(0, 121, 202);
  
    border-radius: 7px;
    font-family: Inter;
}

.playerChangePss_Button{
    display: block;
    display: inline-block;
    padding: 5px;
    margin: 12px;
    margin-top: 15px;
   
    color: white;
    background-color: rgb(0, 121, 202);
    
    border-radius: 7px;
    font-family: Inter;
}




/*

    
    padding: 5px;
    margin: 7px;
    width: 5%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
}

.playerclaimButton{
    padding: 5px;
    margin: 7px;
    width: 5%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
    cursor: pointer;
    position: absolute;
    right: 30px;
    
}
.playerChangeNameButton{
    padding: 5px;
    margin: 7px;
    width: 10%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 60px;
    
}
.playerChangePssButton{
    padding: 5px;
    margin: 10px;
    width: 10%;
    color: white;
    background-color: rgb(0, 121, 202);
    border: none;
    border-radius: 7px;
    font-family: Inter;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 100px;
    
}
*/



.playerWrapper .playerComment{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.playerWrapper .playerComment p{
    
    text-align: justify;
    color: white;
    font-family: Inter;
    width: 30%;
    margin: 20px;
    padding: 10px;
}
/*////////////////////////////////////////////////////////////////////////////////////*/
